.carouselwrap {
    position: relative;
}
.carouselstatus {
    padding:0 10%;
    height: calc(4rem + .5vw);
    // background-color: red;
    // height: calc(30rem - 21vw);
    // background-color: red;
    margin:0;
    font-size: calc(.75rem + .25vw);
    line-height: 1.2;
    text-shadow: 0 0 2rem rgba(#fff,.5);
    font-weight: $fw-bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all .4s linear;
    opacity: 1;
    em {

        font-style: italic;
        font-weight: $fw-normal;
        display: block;
        font-size: 93.75%;
        &:after {
            content:' —'
        }
        &:before {
            content:'— '
        }
    }

    &.willchange {
        opacity: 0;
        // transform: translateY(.125em);
    }
}

.homecarousel {
    position: relative;
    // transition: transform .4s ease-in;
    // transform: translate3d(0, 0, 0);
    // overflow: visible;

    .slick-list {
        overflow: visible;
    }

    .slick-track {
        transition: transform 300ms cubic-bezier(.06,.84,.19,.9) 0s;
    }
    .slick-slide {
        margin: 0 .333vw;
        line-height: 0;
    }
}

.navcarousel {

    .slick-slide {
        margin: 0 .125vw;
        outline:none;
        line-height: 0;
    }
    figure {
    }
    a {
        outline: none;
    }
    img {
        height: 6.5vw;
        max-width: none;
        width: auto;
        opacity: .5;
        display: block;
        
    }
    .slick-current img {
        opacity: 1;
    }
    // display: none;
    @media (min-aspect-ratio: 36/25) {
        & {
            display: none !important;
        }
    }

}